.blockedSystemMessage-2Rk1ek {
    display: none;
 }
 .scroller-305q3I {
   background-color:#4d30db;
 }
 .name-3_Dsmg,
.icon-1_QxNX {
  color: transparent;
}
.mask-3OgeRz {-webkit-mask:none;}
.image-33JSyf,
.wrapper-2F3Zv8,
.avatar-small,
.avatar-xxlarge,
.avatar-large {
    border-radius:0px;
}